<div class="row">
    <div class="col-6">
        <section class="card-header">
            <h3>Seçilecek Dersler</h3>
        </section>
        <div class="table-responsive table--no-card m-b-30">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>Dersin Ad</th>
                        <th>Kredisi</th>
                        <th>Öğretmeni</th>
                        <th>Dersin Tipi</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fizik</td>
                        <td>4</td>
                        <td>Burcu</td>
                        <td>Zorunlu</td>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-6">
        <section class="card-header">
            <h3>Seçilen Dersler</h3>
        </section>
        <div class="table-responsive table--no-card m-b-30">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>Dersin Ad</th>
                        <th>Kredisi</th>
                        <th>Öğretmeni</th>
                        <th>Dersin Tipi</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fizik</td>
                        <td>4</td>
                        <td>Burcu</td>
                        <td>Zorunlu</td>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>